# Last Modified: Thu Oct 17 21:44:53 2019
#include <tunables/global>

/usr/sbin/kresd {
  #include <abstractions/base>
  #include <abstractions/nameservice>
  #include <abstractions/openssl>

  capability dac_override,
  capability dac_read_search,
  capability net_bind_service,
  capability setgid,
  capability setuid,

  network,

  {% if knot_resolver_cert is defined %}
    {{ knot_resolver_cert }} r,
  {% endif %}
  {% if knot_resolver_key is defined %}
    {{ knot_resolver_key }} r,
  {% endif %}
  {% if knot_resolver_cert_dir is defined %}
    {{ knot_resolver_cert_dir }} rix,
  {% endif %}

  /etc/knot-resolver/* r,
  /etc/letsencrypt/** rix,
  /lib/x86_64-linux-gnu/ld-*.so mr,
  /run/knot-resolver/* rw,
  /run/systemd/notify w,
  /usr/lib/knot-resolver/** mr,
  /usr/lib/knot-resolver/kres_modules/* mr,
  /usr/sbin/kresd mr,
  /usr/share/dns/* r,
  /usr/share/lua/** r,
  owner /etc/knot-resolver/lock.mdb rw,
  owner /usr/lib/knot-resolver/* mr,
  owner /var/cache/knot-resolver/* rwk,

}
