-- {{ ansible_managed }}
-- Knot DNS Resolver configuration in -*- lua -*-

-- Network sockets are configured through systemd.socket
-- see man:kresd.systemd(7)

{% if knot_resolver_cert is defined and knot_resolver_cert is defined %}
-- TLS server configuration
net.tls("{{ knot_resolver_cert }}", "{{ knot_resolver_key }}")
{% endif %}

-- Switch to unprivileged user --
user("{{ knot_resolver_user }}", "{{ knot_resolver_group }}")

-- Persistent cache size
cache.size = {{ knot_resolver_cache_size }} * MB

{% if knot_resolver_disable_dnssec %}
-- Disable DNSSEC
 trust_anchors.remove('.')
{% endif %}

-- Load modules
modules = {
{% for module in knot_resolver_modules %}
  '{{ module }}'{% if not loop.last %}, {% endif %}

{% endfor %}
}
